.logo-img{
    height: 100%;
    max-height: 70px;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}

.autorepair-header{
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    transform: perspective(500px);

    .q-toolbar{
        min-height: 70px;
        .q-tabs{
            background: inherit !important;

            .q-tab{
                .q-tab__content{
                    min-width: 42px;
                    .q-tab__label{
                        font-size: 16px;
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                }
                .q-tab__indicator{
                    height: 3px;
                    border-radius: 10px;
                    width: 70%;
                    margin: auto;
                }
                // ngilangin ripple
                .q-ripple{
                    display: none !important;
                }
            }
            .q-hoverable:hover{
                > .q-focus-helper{
                    background: unset;
                    opacity: 0;
                }
            }
        }

        .float-button{
            position: absolute;
            display: flex;
            align-items: center;
            right: 0px;
            top: -20px;
            width: 250px;
        }
    }
}