.input-outline-profile{
    input{
        color: #fff;
        font-size: 18px;
    }
    > div {
        > label {
            .q-field__control::before{
                border: 2px solid #fff !important;
            }
        }
    }
}
.edit-icon{
    @include transition_mixin (color);
    cursor: pointer;
    &:hover{
        color: $primary;
    }
}