%transition_default {
    transition: .3s cubic-bezier(.25, .8, .5, 1) !important;
    transition-property: all !important;
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1) !important;
    transition-delay: 0s !important;
}

// Rotation
%rotation_180deg {
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

// Hover Sidebar Animation
