// Background
.p-bg{
    background: $dark-theme-bg;
}

.primary-bg{
    background: $primary;
}

.card_bg_black_2{
    background-color: $black_2;
}

.primary_bg_fade{
    background-color: rgba(33, 161, 123, .3);
}

.white-bg{
    background: #ffffff;
}

.lightGrey-bg{
    background: #F2F0F0;
}

// color
.primary_color{
    color: $primary;
}

.black-1{
    color: $black_1;
}

.black_2 {
    color: black_2;
}

.grey-txt{
    color: #595959;
}

.grey-4{
    color: #E0E0E0;
}

.grey-5{
    color: #BDBDBD;
}

.red-txt{
    color: $negative;
}

// Class
.accepted-color{
    color: $primary;
}

.rejected-color{
    color: $red;
}

.waiting-color{
    color: $yellow;
}

.rating_yellow{
    color: $yellow_1;
}

.slate_grey{
    color: slategray;
}