// Background
.p-bg{
    background: $dark-theme-bg;
}
.card_bg_black_2{
    background-color: $black_2;
}

.white-bg{
    background: #ffffff;
}

.primary_color{
    color: $primary;
}

.black-1{
    color: $black_1;
}

.black_2 {
    color: black_2;
}

.rating_yellow{
    color: $yellow_1;
}

.slate_grey{
    color: slategray;
}