// All Mixins
@mixin important_mix($var, $content) {
    #{$var}: $content !important;
}

// Grid Mixins
@mixin flex_grid ($var, $content) {
    display: flex;
    #{$var}: $content;
}

// Width Mixins
@mixin max_width_height ($max_w, $max_h) {
    max-width: $max_w;
    max-height: $max_h;
}

@mixin min_width_height ($min_w, $min_h) {
    min-width: $min_w;
    min-height: $min_h;
}

// sosmed_box
@mixin sosmed_box ($bg_c, $c) {
    background-color: $bg_c;
    color: $c;
    border-radius: 10px;
    padding: 7px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i{
        font-size: 20px;
    }
}

// Transition Mixins
@mixin transition_mixin ($property) {
    transition: $property 0.36s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: $property;
    transition-duration: 0.36s, 0.36s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s;
}