@media (max-width: 500px){
    h4{
        font-size: 1.8rem;
    }
    .yt-video{
        border-radius: 10px;
        width: 80%;
        margin: auto;
        @media (max-width:500px) {
            width: 100%;
            margin-top: 2rem !important;
        }
    }
    .m-right-side-wrapper{
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        .m-btns-wrapper {
            position: relative;
            top: 0.4rem;
            > button {
                min-width: 84px;
            }
        }
    }
    .autorepair-footer{
        margin: auto;
        background: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(8px);
        transform: perspective(500px);

        .q-tabs{
            width: 100%;
        }

        .q-toolbar{
            padding: 0;
        }

        .insurance-tab{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .q-tab__label{
            text-transform: capitalize;
        }

        .m-dropdown-button{
            width: 32%;
            > button {
                width: 100%;
                position: absolute;
                top: 0;
                min-height: 52px;
            }
        }
    }
    .m-dialog-mobile-profile{
        .q-list{
            .q-item__label--header{
                color: white;
                .user-img-sidebar{
                    background-color: #fff;
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.59));
                }
            }
            > .q-item__section{

                > .q-item__label{
                    padding-bottom: 1rem;
                }
                
                .q-item{
                    border-radius: 25px;
                }

                > .q-hoverable{
                    // background: linear-gradient(to left, $primary 50%, #ffffff 50%) right;
                    // background-size: 200%;
                    transition: .3s ease-out;
                    svg{
                        path{
                            fill: #ffffff;
                            transition: .3s ease-out;
                        }
                    }
                    &:hover{
                        color: $primary;
                        background-position: left;
                        svg{
                            path{
                                transition: .3s ease-out;
                                fill: $primary;
                            }
                        }
                    }
                }
                > .q-item--active{
                    transition: none;
                    // background: #ffffff;
                    color: $primary;
                    svg{
                        path{
                            transition: .3s ease-out;
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }

    @for $i from 0 to 101{
        .m-mb-#{$i}{
            margin-bottom: #{$i}px;
        }
    }

    .q-scrollarea__thumb, .q-scrollarea__bar{
        display: none;
    }

    .q-scrollarea__content{
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 10px !important;
    }
    .chat-room-page{
        .q-scrollarea__content{
            padding-top: 10px !important;
        }   
    }

    // Padding (px)
    @for $i from 0 to 101 {
        .m-p-#{$i}{
            padding: #{$i}px;

            &-i{
                padding: #{$i}px !important;
            }
        }
    }
    .m-minh-inherit{
        min-height: inherit;
    }
    .m-btn-fixed-bottom{
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .chat-page{
        padding: 0;
    }
    .chat-room-page{
        background: white;
    }
    .room-section{
        padding: 18px 14px 18px 0 !important;
    }
    .m-mb-30{
        margin-bottom: 30px;
    }
    .m-fw{
        width: 100%;
    }
    .m-text-center{
        text-align: center;
    }
    .m-d-flex{
        display: flex;
    }
    .m-fs-24px{
        font-size: 24px;   
    }
    .m-mt-0{
        margin-top: 0;
    }
    .icon-mobile{
        .q-icon{
            font-size: 18px;
        }
    }
    .m-max-w-48{
        max-width: 48% !important;
    }
    .text-h6{
        font-size: 1rem;
    }
    .q-stepper__step-inner{
        padding: 24px 18px !important;
    }
}

@media (min-width:500px){
    .d-mr-30{
        margin-right: 30px;
    }
    .d-min-h-60{
        min-height: 60px;
    }
    .d-max-w-240{
        max-width: 240px;
    }
    .d-mb-20{
        margin-bottom: 20px;
    }
    .d-mr-20{
        margin-right: 20px;
    }
    .d-w-80{
        width: 80%;
    }
    .q-img-insurance{
        width: 300px; 
        height: 150px;
    }
    .d-br-5px{
        border-radius: 5px !important;
    }
}

.opacity-0{
    opacity: 0;
}
