%default_btn_cred{
    .q-btn__content{
        span{
            text-transform: capitalize;
        }
    }
}
%default-btn-1{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.default-btn-1{
    @extend %default-btn-1;
    &.disabled{
        background-color: #E7E3E3 !important;
    }
}

.default-btn{
    @extend %default_btn_cred;
}

.lp-search-btn{
    @extend %default_btn_cred;

    padding: 10px 24px;

    .q-btn__content{
        span{
            font-size: 16px;
        }
    }
}

.lg-rg-btn{
    min-width: 120px;    
}

.back-btn{
    &-float_left{
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1;
        .q-btn__content{
            i{
                font-size: 26px;
            }
        }
    }
    .q-btn__content{
        i{
            font-size: 26px;
        }
    }
}

.notif-btn{
    .q-badge{
        top: 6px;
        right: 6px;
    }
}

.edit-img-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    .q-focus-helper{
        cursor: pointer;
    }
    .q-btn__content{
        cursor: pointer;
    }
    .q-icon{
        cursor: pointer;
    }
}

.back-btn_topRight{
    position: absolute;
    top: 20px;
    right: 30px;
}