.insurance_form_layout{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    
    .logo-img-form{
        position: absolute;
        right: 35px;
        // top: 35px;
        width: 120px;
    }
    .q-stepper__step-inner{
        padding-bottom: 0;
    }
    .q-stepper__dot{
        @include width_preset(40px);
        @include height_preset(40px);
    }
    .notranslate{
        // font-size: 16px;
    }
    .q-stepper__header{
        display: none;
    }
    .hitter-form-container{
        border: 1px solid $primary;
        border-radius: 20px;
    }
}

.review-card{
    .review-content{
        padding: 12px 0;
    }
    .review-date{
        position: absolute;
        top: 10px;
        right: 10px;    
    }
    .review-rating{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .q-rating__icon-container{
        i{
            font-size: 16px !important;
        }
    }
}

.adminWorkshop-card{
    &:not(:last-child){
        margin: 0px 0 10px 0px;
    }
}