.chat-page{
    padding: 30px 20px;
    .room-section{
        padding: 24px 32px 24px 0;
        border-radius: 20px;
        background-color: #F3F3F5;
        .indicator{
            border-radius: 0 20px 20px 0;
        }
        .content-section{
            display: flex;
            align-items: flex-start;
            .time-pos{
                color: #18775B;
                position: absolute;
                right: 0;
                top: -10px;
            }
        }
    }
}

.chat-room-page{
    .chat-card{
        overflow: auto;
        background-color: #378B72;
        border-radius: 20px;
    }
    .time-layout-not-sent{
        max-width: 65%;
        margin: 0 auto 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        > span {
            min-width: 52px;
            font-size: 12px;
            color: #ffffff;
            margin: 0 0 8px 8px;
        }
    }
    .time-layout-sent{
        max-width: 65%;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        > span {
            min-width: 52px;
            font-size: 12px;
            color: #ffffff;
            margin: 0 8px 8px 0;
        }
    }
    .q-message-sent{
        .q-message-text{
            &::before{
                bottom: 25px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 8px solid currentColor;
            }
        }
    }
    .q-message-received{
        .q-message-text{
            &::before{
                bottom: 25px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 8px solid currentColor;
            }
        }
    }
    .chat-message-bubble{
        .q-message-text{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &::before{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            border-radius: 10px;
            .q-message-text-content{
                > div {
                    white-space: pre-line;
                }
            }
        }
    }
    .textarea-chat{
        textarea{
            line-height: 22px;
            padding: 9px 15px;
            max-height: 80px;
        }
    }
}
.input-message{
    border-radius: 0 !important;
    background-color: #378B72;
    position: sticky;
    position: -webkit-sticky;
    bottom: -2px;
}
.receiver-name{
    z-index: 1;
    border-radius: 0 !important;
    background-color: #378B72;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
