.chat-page{
    padding: 30px 20px;
    .room-section{
        padding: 24px 32px 24px 0;
        border-radius: 20px;
        background-color: #F3F3F5;
        .indicator{
            border-radius: 0 20px 20px 0;
        }
        .content-section{
            display: flex;
            align-items: flex-start;
            .time-pos{
                color: #18775B;
                position: absolute;
                right: 0;
                top: -10px;
            }
        }
    }
}

.chat-room-page{
    .q-message-sent{
        .q-message-text{
            &::before{
                bottom: 25px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 8px solid currentColor;
            }
        }
    }
    .q-message-received{
        .q-message-text{
            &::before{
                bottom: 25px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 8px solid currentColor;
            }
        }
    }
    .chat-message-bubble{
        .q-message-text{
            border-radius: 10px;
        }
    }
    .textarea-chat{
        textarea{
            line-height: 22px;
            padding: 9px 15px;
            max-height: 80px;
        }
    }
}
