.landing-page{
    .initial-bg{
        background: $dark-theme-bg;
    }
    .lp-height{
        height: 100%;
        min-height: 413px;
    }
    .lp-title{
        padding-top: 40px;
        font-size: 40px;
    }
}