%default_select_layout{
    .q-field__control{
        border-radius: 10px;
    }
}

.default-select{
    @extend %default_select_layout;
}

.insurance_select{
    &.q-field--focused{
       .q-field__control{
            @include transition_mixin (border-radius);
            border-radius: 10px 10px 0 0; 
       }
    }
    .q-field__control{
        @include transition_mixin (border-radius);
        border-radius: 10px;
        background-color: #DFDFDF;
    }
}