%default_select_layout{
    .q-field__control{
        border-radius: 10px;
    }
}

%default_select_layout_2{
    &.q-field--focused{
        .q-field__control{
            @include transition_mixin (border-radius);
            border-radius: 10px 10px 0 0; 
        }
    }
    .q-field__control{
        @include transition_mixin (border-radius);
        border-radius: 10px;
    }
}

.default-select{
    @extend %default_select_layout;
}

.default-select-2{
    @extend %default_select_layout_2;
    .q-field__native{
        .placeholder-text{
            color: rgba(0, 0, 0, .5);
        }
    }
}

.insurance_select{
    &.q-field--focused{
       .q-field__control{
            @include transition_mixin (border-radius);
            border-radius: 10px 10px 0 0; 
       }
    }
    .q-field__control{
        @include transition_mixin (border-radius);
        border-radius: 10px;
        background-color: #DFDFDF;
    }
}

.admin_select{
    &.q-field--focused{
       .q-field__control{
            @include transition_mixin (border-radius);
            border-radius: 10px 10px 0 0; 
       }
    }
    .q-field__control{
        @include transition_mixin (border-radius);
        border-radius: 10px;
        background-color: #fff;
    }
}