.table-sticky{
    position: relative;
}

.sticky{
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

.table-yeet{
    .q-table{
        th, td{
            text-align: center;
        }
    }
}

.insurance-status-table{
    border-radius: 10px;
    table{
        padding: 40px 20px;
        tbody{
            tr{
                td{
                    border: none;
                }
            }
        }
    }
}